# Nuxt build files
.nuxt
.output
.nitro
.data
.cache
dist

# Dependencies
node_modules

# Logs
logs
*.log

# Environment variables
.env
.env.*
!.env.example

# OS / Editor
.DS_Store
.idea
.fleet
.vscode